{% extends 'base.html' %}

{% block css %}
{% endblock %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/index/">홈</a></li>
          <li>Wish List</li>
        </ol>
        <h2>위시리스트</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12 entries">
            {% if msg != None %}
              <h3 style="color:#e03a3c;">{{ msg }}</h3>
            {% else %}
              <table>
                <thead style="text-align:center; border-bottom:1px solid black; background-color:#e6e6e6;">
                  <tr style="">
                    <th style="width: 100px;"> </th>
                    <th style="padding:10px;">제  목</th>
                    <th style="padding:10px;">시작일</th>
                    <th style="padding:10px;">마감일</th>
                    <th style="padding:10px;">장소</th>
                    <th style="padding:10px;">지역</th>
                    <th style="padding:10px;">분류</th>
                    <th> </th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in wishlist %}
                  <tr id="{{item.seq}}" style="border-bottom: 1px solid lightgray;">
                    <td><img src="{{item.thumbnail}}" style="width: 100px;"></td>
                    <td style="padding:0px 5px;"><a href="{{item.site}}">{{item.title}}</a></td>
                    <td style="text-align:center; padding:0px 10px;">{{item.startDate}}</td>
                    <td style="text-align:center; padding:0px 10px;">{{item.endDate}}</td>
                    <td style="text-align:center; padding:0px 5px;">{{item.place}}</td>
                    <td style="text-align:center; padding:0px 5px;">{{item.area}}</td>
                    <td style="text-align:center; padding:0px 5px;">{{item.realmName}}</td>
                    <td><button class="button_gray" onclick="delWishlist({{item.seq}})">ⓧ</button></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
              <br>
          </div><!-- End blog entries list -->
        </div>
      </div>
    </section><!-- End Blog Section -->

  <script>
    function delWishlist(id) {
      const el = document.getElementById(id);
      el.innerHTML = "";
      let req = new XMLHttpRequest();
      let data = {
        performance_seq : id
      };
      req.onload = function() {
        console.log("performance_seq "+id+" removed from the WishlistDB");
      };
      req.open("POST", "del/");
      req.setRequestHeader('content-type', 'application/json');
      req.send(JSON.stringify(data));
    };
  </script>

  </main><!-- End #main -->

{% endblock %}